<div class="layout">

    <app-header *ngIf="headerVisible">
        <app-flip-clock *ngIf="mediaType !== 'timer'" [timerSeconds]="timerSeconds"></app-flip-clock>
    </app-header>

    <div class="media">
        <app-flip-clock *ngIf="mediaType === 'timer'" [timerSeconds]="timerSeconds"></app-flip-clock>
        <div *ngIf="mediaType === 'text'" class="text">{{mediaText}}</div>
        <div *ngIf="mediaType === 'image'" class="image" [style.background-image]="mediaImageUrl"></div>
        <div *ngIf="mediaType === 'video'" class="video">
            <video #video
            autoplay
            (ended)="videoOnEnded()"
            (timeupdate)="mediaTimeThrottler()"
            [src]="mediaUrl"
            ></video>
        </div>

        <audio #backgroundAudio autoplay loop [src]="backgroundAudioUrl" [volume]="backgroundAudioVolume"></audio>
        <audio #oneshotAudio autoplay [src]="oneshotAudioUrl"></audio>
    </div>

</div>